.calendar-info {
    padding: 40px;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.home-events {
    background-color:#6d462c;
}
.outside-events {
    background-color:#005437;
}

.calendar-postiton{
    text-align: center;
}

.dec {
    padding-bottom: 25px;
}