.head-image {
    background-image: url(images/118774822_721402148442733_7714491285569270358_o.webp);
    padding-bottom: 440px;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.calendar-link {
    text-decoration: none;
}