.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.container:hover .gone{
  opacity: 0;
}

.container:hover .overlay {
  opacity: 1;
}

.falling-herbs {
  position: absolute;
  left: 500px;
}

.home {
  text-align: left;
  margin: auto;
  max-width: 1000px;
}