.team-photo {
    display: block;
    object-fit: cover;
    width: 50%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.teaching-link {
    background-color:#BA9391;
    border-radius: 600px;
    margin: auto;
    width: 150px;
    text-decoration: none;
    text-align: center;
    padding: 10px 0 12px 0;
}

.teaching-link a:link {
  color:black;
  background-color: transparent;
  text-decoration: none;
}

.teaching-link a:visited {
  color:black;
  background-color: transparent;
  text-decoration: none;
}

.teaching-link a:hover {
  color:black;
  background-color: transparent;
  text-decoration: underline;
}

.teaching-link a:active {
  color:black;
  background-color: transparent;
  text-decoration: underline;
}